---
layout: default
bodyid: blog
---

<div class="entry">

  <a href="{{ page.url }}" title="{{ page.title }}"><h2>{{ page.title }}</h2></a>

  <div class="info">
    <span class="day">{{ page.date | date: "%A" }}, {{ page.date | date: "%b" }} {{ page.date | date: "%d" }} {{ page.date | date: "%Y" }}</span>
    <div class="author">posted by <a href="httpss://onetimesecret.com/about">{{ page.who }}</a></div>
  </div>
  
  <div class="content">
    {{ content }}
    
    <div class="related">
      --
      <h3>Related Posts</h3>
      <ul class="posts">
        {% for post in site.related_posts limit:3 %}
          <li><span>{{ post.date | date: "%b %d %Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!--
  <script>
  var idcomments_acct = 'defcf13babbc8ef58be95d5511a3b1a1';
  var idcomments_post_id;
  var idcomments_post_url;
  </script>
  <span id="IDCommentsPostTitle" style="display:none"></span>
  <script type='text/javascript'
  src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  -->

</div>